.resume-detail{
	padding-bottom: 60px;
}
.detail-head{
	padding-bottom: 17px;
	background-color: #FFF;
	ul{
		padding-left: 20px; 
		background-color: #f6f8fa;
		border-radius: 4px;
	}
	li{
		color: $light-gray;
		font-size:$fs-middle;
		height: 36px;
		line-height: 36px;
		cursor: pointer;
		&.filter-all,&.filter-unpay,&.filter-pay,&.filter-close,&.filter-abnormal{
			width:110px;
		}
		i{
			@extend %i-circle;
			&.i-filter-click{
				@extend %i-circle-click;
			}
		}
	}
}

.orderlist{
	color: $light-gray;
	background-color: #fff;
	.no-content{
		height:200px;
		line-height: 200px;
		font-size: 20px;
		text-align: center;
		.icon-sign-warn{
			color:#5d9cec;
			margin-right: 10px;
		}
	}
	table{
		width:100%;
	}
	th{
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 14px;
		border: 1px solid $lighter-gray;
	}
	td{
		height: 58px;
		vertical-align: middle;
		text-align: center;
		font-size: 12px;
		border: 1px solid $lighter-gray;
		&.orderID{
			color: $light-blue;
		}
		&.orderDetail{
			a{
				color: $light-blue;
			}
		}
		&.orderStatus{
			*line-height: 58px;
			span{
				padding: 5px 5px;
				color: #fff;
				&.type-success{
					background-color: #5d9cec;
				}
				&.type-unpay{
					background-color: #fc6e51;
					cursor: pointer;
					&:hover{
						background-color:#F55433;
					};
				}
				&.type-abnor{
					background-color: #FCB851;
				}
				&.type-close{
					background-color: #c5c9ce;
				}
			}
		}
	}

}
.detail-foot{
	padding-left:10px;
	padding-top:12px;
	margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
	.page-num{
		font-size: $fs-middle;
	}
}
.vip-footer{
	margin-top: 100px;
}