.pageleft{
	float: left;
	width: 530px;
	padding-bottom: 80px;
	margin-bottom: 100px;
	background-color:#fff;
	border-top:3px solid $border-shadow;
	border-radius: 5px; 
	position:relative; 
	.p-left-head{
		height:45px;
		line-height: 45px;
		padding-left: 20px;
		color: $light-blue;
		border-bottom:1px solid $lighter-gray; 
	}
	.p-left-item{
		padding:22px 20px 30px 20px;
		border-bottom: 1px dashed $border-shadow;
		position: relative;
		.goods-name{
			font-size:16px; 
			color: $deeper-gray;
			font-weight: bold;
			padding-bottom: 20px;
			i{
				color: $deep-gray;
				padding-right: 5px;
			}
		}
		.batch-buy .line1{
			cursor:pointer;
		}
		.single-buy,.batch-buy{
			width:240px;
			float: left;
			.line1{
				width: 220px;
				height: 40px;
				line-height: 40px;
				padding-left: 15px;
				margin: 0 auto;
				margin-bottom: 10px;
				border: 1px solid $border-shadow;
				.price{
					float: right;
					padding-right: 10px;
					color:$price-red;
				}
			}
			.line2{
				width:237px;
				text-align: right;
			}
		}
        .single-buy{
            margin-right: 5px;
        }
		.order-btn{
			@include button(60px,30px,$fs-middle,6px);
			@extend %button-class1;
		}
		
	}
	.pulldown-msg{
		width: 160px;
		position: absolute;
		top: 100px;
		right: 102px;
		background-color: #FFF;
		border:1px solid $lighter-gray; 
		border-top: none;
		cursor: pointer;
		z-index: 2;
		li{
			height: 30px;
			line-height: 30px;
			&:hover{
				background-color: $lighter-gray;
			};
			.pd-num{
				padding-left: 10px;
			}
			.pd-price{
				padding-right: 5px;
			}
		}

	}
}