<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./dist/styles/index/index.css">
</head>
<body>
	<!-- #parse("$!{webRoot}/src/template/pc/common/header.html") -->
	<div id="movebg"></div>
	<div class="wraper">
		<h1 class='blink-blue animated rotateIn'>Welcome to my world ！！！</h1>
		<artical class="nav-cont">
			<h1>GO To >></h1>
			<ul class="clearfix">
				#foreach($info in $nav-cont)
				<li><a href="$!info.url" target="_blank">$!info.name</a></li>
				#end
			</ul>
		</artical>
	</div>
</body>
</html>

