.deleteTips{
  width:80%;
  margin: 0 auto;
  height:100px;
  text-align: center;
  position: relative;
  i{
    position: relative;
    top:8px;
    left:-8px;
  }
  .btnArr{
    position: absolute;
    bottom: 0;
    right: 0;
    a{
      margin-left: 10px;
      padding:6px 10px;
    }
  }

}
.deleteComplate{
  margin-left: 10px;
}
