@import "mod/resume/resume_variate.scss";
@import "resumeCommon.scss";
.user-info{
	font-size: $fs-large;
	color: #434a54;
	margin: 25px 0 30px 30px;
	em{
		color: $hint-red;
	}
	.buy{
		color:$light-blue;
		&:hover{
			color:$deep-blue;
		}
	}
}
%marginleft54{
	margin-left: 54px;
}
%item-common{
	font-size: $fs-middle;
	color:#6d747d;
}
%title-common{
	display:inline-block;
	margin-right: 20px;
	width:63px;
}
.name-list{
	@extend %item-common;
	@extend %marginleft54;
	height:22px;
	line-height: 22px;
	margin-bottom: 13px;
	.title{
		@extend %title-common;
		letter-spacing: 7px;
	}
	.name-item{
		display:inline-block;
		margin-right: 25px;
		i{
			@extend %i-check;
		}
	}
}
.interview-date{
	@extend %item-common;
	@extend %marginleft54;
	height:35px;
	line-height: 35px;
	margin-bottom: 13px;
	.title{
		@extend %title-common;
	}
}
.interview-content{
	@extend %item-common;
	margin-left:48px;
	em{
		color:$hint-red;
	}
	.title{
		@extend %title-common;
		margin-top: 13px;
	}
	.tmpl-head{
		width:538px;
		border:1px solid $border-shadow;
		border-radius: 4px 4px 0 0;
		background-color: #f6f8fa;
		border-bottom: none;
		margin-top: -1px;
		li{
			float:left;
			text-align: center;
			height:32px;
			line-height:32px;
			width:80px;
			&.add-tmpl{
				float:right;
				padding-right: 10px;
			}
			&.choosed{
				background-color: #fff;
			}
		}
		input{
			display:none;
		}
	}
	.tmpl-text{
		width:538px;
		border:1px solid $border-shadow;
		border-top: none;
		height:138px;		
	}
	.tmpl-operation{
		ul{
			width:538px;
		}
		li{
			height:40px;
			line-height: 40px;
			i{
				margin:0 5px; 
			}
		}
		.delete-tmpl{
			width:100px;
		}
		.save-tmpl{
			width:110px;
		}
		.word-num{
			letter-spacing: 2px;
			em{
				color:#8cc152;
			}
		}

	}
}

#content{
	resize:none;
	outline: none;
	width:534px;
	height:138px;
	border:none;
	overflow:auto;/*ie下去掉滚动条*/
}
.hint{
	@extend %item-common;
	margin-left: 135px;
	i{
		color:#ffce54;
		margin-right: 8px;
	}
}
.foot-btn{
	margin-left: 135px;
	margin:40px 0;
	ul{
		width:538px;
	}
	.btn{
		@include button(86px,34px,14px,4px);
		margin-right: 12px;
	}
	a{
		color:#fff;
	}
	.cancel-btn{
		@extend %button-class4;
	}
	.preview-btn{
		@extend %button-class1;
	}
	.sent-btn{
		@extend %button-class3;
	}
	
}