<div id="templatemo_about" class="container_wapper">
    <div class="container-fluid">
        <h1>Go to ···</h1>
        <div class="col-sm-6 col-md-3 about_icon">
            <div class="imgwap mission"><i class="fa fa-rocket"></i></div>
            <h2>Knowldeg</h2>
            <p>knowledge repository.</p>
        </div>
        <div class="col-sm-6 col-md-3 about_icon">
            <div class="imgwap product"><i class="fa fa-cubes"></i></div>
            <h2>Components</h2>
            <p>Components for PC.</p>
        </div>
        <div class="col-sm-6 col-md-3 about_icon">
            <div class="imgwap testimonial"><i class="fa fa-bar-chart-o"></i></div>
            <h2>Components</h2>
            <p>Components for M</p>
        </div>
        <div class="col-sm-6 col-md-3 about_icon">
            <div class="imgwap statistic"><i class="fa fa-comments"></i></div>
            <h2>Continue</h2>
            <p>To be continue.</p>
        </div>
        <div class="clearfix testimonial_top_bottom_spacer"></div>
    </div>
</div>