<script type="text/html">
<% if(orderlist.length <= 0) {%>
	<div class="no-content"><i class="icon icon-sign-warn">&nbsp</i>您还没有任何订单信息哦！</div>
<%}else{%>
	<table border="0" cellspacing='0' class="item-list">
    <thead>
       <tr>
         <th>订单编号</th>
         <th>商品名称</th>
         <th>下单时间</th>
         <th>服务开始时间</th>
         <th>服务结束时间</th>
         <th>订单金额</th>
         <th>订单类型</th>
         <th>订单状态</th>
         <th>操作</th>
       </tr>
     </thead>
     <tbody>
     <% _.each(orderlist,function(item){%>
         <tr>
           <td class="orderID" style="width:23%"><%= item.orderid%></td>
           <td class="orderName" style="width:10%">订购商品</td>
           <td class="orderTime" style="width:11%"><%= (item.addtime ==null)?"——":item.addtime%></td>
           <td class="orderTime" style="width:11%"><%= (item.starttime ==null)?"——":item.starttime%></td>
           <td class="orderTime" style="width:11%"><%= (item.endtime ==null)?"——":item.endtime%></td>
           <td class="orderMoney" style="width:11%"><%= item.price%></td>
           <td class="orderType" style="width:8%">线上提单</td>
           <td class="orderStatus" style="width:10%">
				<%switch(item.state){case "-1":%>
					<span class="type-close">已关闭</span>
				<%break;case "1":%>
				<span class="type-success">支付成功</span>
				<%break;case "2":%>
				<span class="type-unpay" title="继续支付" orderid=<%= item.orderid%> p=<%= item.price%>>待支付</span>
				<%break;default:%>
				<span class="type-abnor">订单异常</span>
				<%}%>
           </td>
           <td class="orderDetail" style="width:5%" orderid=<%= item.orderid%>><a href="javascript:void(0)" title="订单详情" class="seeDetail">详情</a></td>
         </tr>
      <%})%>
     </tbody>
    </table> 
<%}%>
</script>