/*未选择任何*/
.unchooseany{
	text-align: center;
	padding-top: 30px;
	.icon-sign-warn{
		font-size: 25px;
		color: #ffce54;
		margin-right: 20px;
	}
}
.delete-pop,.recovery-pop{
	p{
		text-align: center;
		padding-top: 20px;
	}
	.pop-button{
		text-align:center;
		font-size: 0;
		padding: 20px 0;
		a{
			@include button(85px,32px,$fs-middle,4px);
			&.cancel{
				@extend %button-class4;
				margin-right: 10px;
			}
			&.confirm{
				@extend %button-class1;
				margin-right: 15px;
			}
		}
	}
}