//detial-head
.detail-head{
	position:relative;
	padding-left: 20px;
	background-color: #e3e4e8;
	border-radius: 4px;
	font-size: 0;
	margin-bottom: 10px;
	.if-read,.according-mark{
		color: $light-gray;
		font-size:$fs-middle;
		height: 36px;
		line-height: 36px;
	}
	.if-read,.if-export {
		span{
				display: inline-block;
				width: 75px;
				text-align: left;
				vertical-align: middle;
				cursor:pointer;
			i{
				@extend %i-circle;
				&.i-circle-click{
					@extend %i-circle-click;
				}
			}
		}
	}
	.according-mark,.according-group{
		height: 25px;
		line-height: 25px;
		border: 1px solid $lighter-gray;
		border-radius: 2px;
		width: 130px;
		font-size: $fs-small;
		color: $light-gray;
		background-color: #fff;
		margin-top: 5px;
		margin-left: 10px;
		cursor:pointer;
		.mark-name,.group-name{
			display: inline-block;
			width: 96px;
			border-right: 1px solid $lighter-gray;
			padding-left:8px;
			vertical-align: top;
		}
		i{
			@include pulldownbutton(25px,25px,14px);
		}
	}
	.if-work{
		margin-left: 40px;
		width: 130px;
		i{
			margin-right: 10px;
			*vertical-align: top;
		}
	}
	.show-way i{
		display: inline-block;
		width: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 14px;
		color:$light-gray;
		&.select{
			background-color: #d9dbe1
		}
	}
	.mark-pull-down{
		@extend %selType;
		top:32px;
		left:263px;
		width:130px;
		font-size: 12px;
		color:$light-gray;
		z-index: 2;
		cursor:pointer;
	}
}
%i-mark-common{
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
	color: $light-gray;
	width: 14px;
	height: 18px;
	background:url("http://img.58cdn.com.cn/zpvip/images/resume-icons.png?v1") no-repeat;
}
%i-mark-pos{
	&.i-mark-unconnect{
		background-position: -78px 1px;
	}
	&.i-mark-unsure{
		background-position: -120px 1px;
	}
	&.i-mark-canintetview{
		background-position: -99px 1px;
	}
	&.i-mark-nonfit{
		background-position: -141px 1px;
	}
	&.i-mark-add{
		background-position: -111px -67px;
	}
	&.i-mark-none{
		background:none;
	}
}
%marktype{
		position:absolute;
		padding: 5px 0px;
		border:1px solid $lighter-gray;
		color:$light-gray;
		font-size: $fs-small;
		z-index: 2;
		li{
			padding:0 5px;
			cursor:pointer;
			line-height: 35px;
			&:hover{
				background: #f7f8fc;
		}
	}
}
.detail-content{
	color: $light-gray;
	background-color: #fff;
	font-size: $fs-middle;
	.no-content{
		height:200px;
		line-height: 200px;
		font-size: 20px;
		text-align: center;
		.icon-sign-warn{
			color:#5d9cec;
			margin-right: 10px;
		}
	}
	.i-mark{ 
		@extend %i-mark-common;
	}
	i{
		@extend %i-mark-pos;
	}
	.item-job-card{
		margin-bottom: 15px;
		border-top: 15px solid #f0f2f5;
		background-color: #fff;
		.marktype{
			@extend %marktype;
			top:93px;
			left:68px;
			background-color: #fff;
		}
		.seeker-identification{
			margin-top:10px;
		}
		.post-head{
			height:45px;
			line-height: 45px;
			padding:0 20px;
			border-bottom: 1px solid $border-shadow;
			.deliver-pos{
				display: inline-block;
				color: $deep-gray;
				font-weight: bold;
			}
			.deliver-time{
				display: inline-block;
				color: $light-gray;
				float: right;
				width: 170px;
				*margin-top: -45px;
			}
		}
		.pos-dtl{
			height: 130px;
			padding: 20px;
			position: relative;
			font-size: 14px;
			color: $light-gray;
			.dtl-left{
				height: 130px;
				position: absolute;
				top: 20px;
				left: 20px;
				i.pos-check{
					vertical-align: middle;
					position: absolute;
					top: 30px;
					left: 0px;
					margin-right: 0px;
					@extend %i-check;
				}
				i.icon-mail{
					color:#ffce54;
				}
				i.icon-mail-open{
					color:#949fab;
				}
				ul{
					width: 80px;
					position: absolute;
					top: 0px;
					left: 31px;
					li{
						text-align: center;
					}
					.seeker-name a{
						color:#434a54;
						padding-right: 10px;
					}
				}

			}
			.dtl-middle{
				height: 130px;
				width: 535px;
				position: absolute;
				top: 20px;
				left: 160px;
				line-height: 20px;
				border-right: 1px solid $border-shadow;
				.info-profile{
					margin-bottom:15px; 
				}
			}
			.dtl-right{
				position: absolute;
				width: 250px;
				top: 20px;
				right: 20px;
				.seeker-phone{
					font-size: $fs-large;
					i{
						color: $light-blue;
						padding-right: 5px;
					}
				}
				.interview,.showPhone{
					display: inline-block;
					width: 90px;
					height: 35px;
					line-height: 35px;
					border-radius: 4px;
					text-align: center;
					cursor:pointer;
					@extend %button-class3;
				}
				.interview{
					margin-left: 15px;
				}
				.showPhone{
					padding: 0 5px;
					margin-left: 25px;
				}
				.see-detail,.add-mark,.export,.delete,.add-group{
					display: inline-block;
					height:26px;
					line-height: 26px;
					border-radius: 4px;
					border: 1px solid $border-shadow;
					text-align: center;
					margin-top: 30px;
					font-size:$fs-small; 
					margin-right: 3px;
					cursor:pointer;
					@extend %button-class2;
				}
				.see-detail{
					width: 62px;
				}
				.export,.delete,.add-mark,.add-group{
					width: 40px;
				}
			}
		}
		.marktype{
			@extend %marktype;
			top:93px;
			left:68px;
			background-color: #fff;
		}
	}
	.item-list{
		width:980px;
		.marktype{
			@extend %marktype;
			top:37px;
			left:128px;
			background-color: #fff;
		}
		.even{
			background-color: #f6f8fa;
		}
		.item-job{
			padding-left: 10px;
			position: relative;
			i{
				*vertical-align: middle;
			}
		}
		thead th{
			text-align: left;
			height: 48px;
			vertical-align: middle;
			border-top: 2px solid $border-shadow;
			border-bottom: 1px solid $border-shadow;
			border-radius: 4px;
		}
		tr td{
			height: 48px;
			vertical-align: middle;
			text-align: left;
		}
		.seeker-name{
			padding-left: 10px;
			.i-check{
				margin-right: 62px;
			}
		}
		.opra-interview,.opra-seeinterview,.opra-addmark,.opra-export,.opra-delete,.opra-addgroup{
			@include button(46px,25px,$fs-small,4px);
		}
		.opra-interview{
			width: 85px;
			border: 1px solid $hint-red;
			@extend %button-class3;
		}
		.opra-addmark,.opra-export,.opra-delete,.opra-addgroup{
			@extend %button-class2;
			margin-left: 6px;
			border: 1px solid $border-shadow;

		}
		.opra-seeinterview{
			width: 85px;
			border: 1px solid $border-shadow;
			@extend %button-class6;
		}
		.showInterview{
			border:1px solid #f6f8fa;
			.interview-msg{
				margin: 30px 20px;
			}
		}
		.item-name{
			vertical-align: -2px;
			color: $light-blue;
		}
		i{
			&.icon-mail{
				font-size: 16px;
				color:#ffce54;
				margin-right: 8px;
				vertical-align: middle;
				cursor:default;
			}
			&.icon-mail-open{
				font-size: 16px;
				color:#949fab;
				margin-right: 8px;
				vertical-align: middle;
				cursor:default;
			}
			&.i-mark{
				margin-right: 8px;
			}
		}
	}
}
.detail-foot{
	padding-left:10px;
	padding-top:12px;
	margin-bottom: 180px;
	line-height: 35px;
	position:relative;
	.batch{
		@include button(85px,35px,$fs-middle,6px);
		margin-right: 8px;
	}
	.batch-interview .batch{
		@extend %button-class3;
	}
	.batch-see,.batch-addmark,.batch-export,.batch-delete,.batch-addgroup{
		.batch{
			@extend %button-class1;
		}
	}
	.page-num{
		font-size: $fs-middle;
	}
	i{
		vertical-align: baseline;
		@extend %i-mark-pos;
	}
	.choose-all{
		vertical-align: middle;
	}
	.marktype{
		@extend %marktype;
		top:47px;
		left:321px;
		background-color: #f0f2f5;
	}
	.i-mark{
		@extend %i-mark-common;
	}
}
.detail-head,.detail-content,.detail-foot{
	.i-check{
		@extend %i-check; 
	}
}