$light-blue: #5d9cec;
$deep-blue: #2b5ea2;
$light-gray: #585858;
$deep-gray: #6d747d;
$light-red:#fc6e51;
$lighter-gray: #c5c9ce;
$border-shadow:#e3e4e8;
$hint-red :#fc6e51;

$headerBgColor: #2b5ea2;

$navColor: #fff;
$navHoverColor: #2b5ea2;
$navBgColor: #5d9cec;
$navActiveBgColor: #417fd0;

$mainBgColor: #f0f2f5;

$sectionBorderColor: #e3e4e8;
$sectionBgColor: #fff;
$sectionTitleColor: #5d9cec;
$sectionTitleBorderColor: #e7eaec;

$footerColor: #949fab;
$footerBgColor: #434a54;
$footerSeparator: #535b65;


$fs-small:12px;
$fs-middle:14px;
$fs-large:16px;
