//detial-head
.resume-detail{
	padding-bottom: 60px;
}
.detail-head{
	padding-bottom: 17px;
	background-color: #FFF;
	ul{
		padding-left: 20px; 
		background-color: #f6f8fa;
		border-radius: 4px;
	}
	li{
		color: $light-gray;
		font-size:$fs-middle;
		height: 36px;
		line-height: 36px;
		cursor: pointer;
		&.filter-all{
			width: 80px;
		}
		&.filter-receive,&.filter-download{
			width:120px;
		}
		i{
			@extend %i-circle;
			&.i-filter-click{
				@extend %i-circle-click;
			}
		}	
	}
}
.detail-content{
	color: $light-gray;
	background-color: #fff;
	font-size: $fs-middle;
	.no-content{
		height:200px;
		line-height: 200px;
		font-size: 20px;
		text-align: center;
		.icon-sign-warn{
			color:#5d9cec;
			margin-right: 10px;
		}
	}
	table{
		width: 100%;
	}
	.even{
		background-color: #f6f8fa;
	}
	.item-job{
		padding-left: 10px;
		position: relative;
		a{
			color:$light-blue;
		}
	}
	thead th{
		text-align: left;
		height: 48px;
		vertical-align: middle;
		border-bottom: 1px solid $border-shadow;
		border-radius: 4px;
	}
	tr td{
		height: 48px;
		vertical-align: middle;
		text-align: left;
	}
	.jobtofind{
		padding-left: 10px;
	}
	.opra{
		@include button(62px,25px,$fs-small,2px)
		@extend %button-class2;
		border: 1px solid $border-shadow;
	}
	.opra-recovery,.opra-moveto{
		margin-right: 10px;
	}
	.icon-checked:before {
    padding-left: 2px;
	}
}

.detail-content,.detail-foot{
	.i-check{
		@extend %i-check; 
	}
}
.detail-foot{
	padding-left:10px;
	padding-top:12px;
	margin-bottom: 20px;
	height: 35px;
	line-height: 35px;
	.batch{
		@include button(86px,35px,$fs-middle,6px);
		@extend %button-class1;
		margin-right: 10px;
		a{
			color: #FFF;
		}
	}
	.page-num{
		font-size: $fs-middle;
	}
	.choose-all{
		vertical-align: middle;
	}
}
