.popup-addsearchtool{
	/*保存搜索器弹框*/
	.layer_message{
		p{
			width:355px;
			margin: 0 auto;
			padding: 15px 0 25px 0;
			font-size: $fs-large;
			color:#6d747d;
		}
		.pop-input{
			text-align: center;
			.wrap-input{
			display: inline-block;
			width: 363px;
			border: 1px solid #c5c9ce;
			border-radius: 2px;
			input{
				font-family: 'Microsoft Yahei',Helvetica,Arial,sans-serif;
				width: 353px;
				height: 34px;
				padding-left: 10px;
				color: #949fab;
				border: 0;
				background-color: transparent;
			}
		}
		}
	}
	.pop-hint{
		width:355px;
		margin: 0 auto;
		margin-top: 18px;
		font-size: $fs-small;
		color:#949fab;
		i{
			display:inline-block;
			color:#ffce54;
			margin-right: 6px;
		}
	}
	.pop-button{
		margin-top: 45px;
		margin-bottom: 40px;
		text-align: right;
		font-size: 0;
		a{
			@include button(85px,32px,$fs-middle,4px);
			&.cancel{
				@extend %button-class4;
				margin-right: 10px;
			}
			&.confirm{
				@extend %button-class1;
				margin-right: 15px;
			}
		}
	}

}
.popup-looksearchtool{
	.searchtoolList{
		margin:30px 20px 30px 30px;
		i{
			display: inline-block;
		    width: 20px;
			height:20px;
			&.i-radio{
				background: url('http://img.58cdn.com.cn/zpvip/images/resume-icons.png?v1') no-repeat -76px -28px;
				margin-right: 12px;
				vertical-align: middle;
			}
			&.i-radio-checked{
				background-position: -104px -28px;
			}
			&.i-radio-hover{
				background-position: -104px -28px;
			}
			&.i-searchtool-del{
				color:#6e7679;
				font-size: 17px;
				vertical-align: top;
			}
		}
		ul{
			height:230px;
			overflow-y: auto;
			font-size: 0;
			li{
				padding:10px 0;
				cursor: pointer;
			}
		}
		.searchtool-name{
			display:inline-block;
			width: 85px;
			height:20px;
			margin-right: 30px;
			color:#6e7679;
			font-weight: bold;
			font-size: 14px;
			vertical-align: middle;
		}
		.searchtool-content{
			display:inline-block;
			width:380px;
			color:#6e7679;
			font-size: 14px;
			height:20px;
			vertical-align: middle;

		}

	}
	.pop-button{
		text-align:center;
		font-size: 0;
		padding: 20px 0;
		a{
			@include button(85px,32px,$fs-middle,4px);
			&.btn-cancel{
				@extend %button-class4;
				margin-right: 10px;
			}
			&.btn-confirm{
				@extend %button-class1;
				margin-right: 15px;
			}
		}
	}
}