.search{
	background-color: #fff;
	border-top:2px solid $border-shadow;
	border-radius: 5px;
	font-size:$fs-middle;
	color: $light-gray;
	li span{
		display: inline-block;
		height: 100%;
	}
	.search-wrap{
		padding: 30px 20px 20px 20px;
		.group-button{
			cursor: pointer;
			@include button(118px,35px,$fs-middle,6px);
			@extend %button-class3;
		}
		.search-item{
			margin-left: 15px;
			border: 1px solid #c5c9ce;
			border-radius: 4px;
			height: 34px;
			line-height: 34px;
			.item-name{
				padding-left: 10px;
				width: 243px;
				border-right: 1px solid $border-shadow;
			}
			i{
				width:31px;
				font-size: 15px;
			}
		} 
		.wrap-input{
			display: inline-block;
			border: 1px solid #e3e4e8;
			border-radius: 4px;
			width: 220px;
			height: 34px;
			vertical-align: top;
			margin-right: 10px;
		}
		.search-button{
			height: 35px;
			line-height: 35px;
			width: 33px;
			vertical-align: top;
			border-radius: 4px;
			text-align: center;
			@extend %button-class1;
		}
	}		
}

#accutate-key{
	width: 210px;
	height: 33px;
	padding-left:10px;
	border:0;
	background-color:transparent;
	color: $light-gray;
	font-family:'Microsoft Yahei',Helvetica,Arial,sans-serif;
}
.hint-red{
	color: $hint-red;
}