.search{
	margin-bottom: 20px;
	background-color: #fff;
	border-top:2px solid $border-shadow;
	border-radius: 5px;
	font-size:$fs-middle;
	color: $light-gray;
	position: relative;
	z-index: 3;
	.item-name{
		cursor:pointer;
	}
	li{
		float: left;
	}
	li span{
		display: inline-block;
		height: 100%;
	}
	.radiusbottom-none{
		border-bottom-right-radius: 0!important;
    	border-bottom-left-radius: 0!important;
	} 
	.post-job,.other-condition,.other-condition1,.other-condition2,
	.recent-search{
		width: 940px;
		margin: 0 auto;
	}
	.post-job .search-item{
		display:inline-block;
	}
	.post-job,.other-condition{
		height: 36px;
		line-height: 36px;
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 0;
		.search-title{
			font-size: $fs-middle;
		}
		.search-item{
			width: 435px;
			height: 36px;
			border: 1px solid $lighter-gray;
			border-radius: 4px;
			margin-left: 15px;
			.item-name{
				display: inline-block;
				width:392px;
				border-right:1px solid $lighter-gray;
				padding-left: 10px; 
				font-size: $fs-middle;
			}	
		}

	}
	.other-condition,.other-condition1,.other-condition2,.post-job,{
		.icon{
			@include pulldownbutton(30px,35px,$fs-middle);
		}
	}
	.other-condition,.other-condition1{
		.include-up{
			width: 78px;
			text-align: center;
			span{
				font-size: $fs-middle;
				i{
					display: inline-block;
					border: 1px solid $lighter-gray;
					border-radius: 2px;
					width: 15px;
					height: 15px;
					vertical-align: middle;
					margin-right: 5px;
					line-height: 15px;
				}
			}		
		}
	}
	.other-condition{
		.postClass{
			width:241px;
			.item-name{
				width:200px;
			}
		}
		.genderType{
			width: 100px;
			margin-left: 6px;
			.item-name{
				width:57px;
			}
		}
		.eduType,.ageType{
			width: 123px;
			margin-left: 6px;
			.item-name{
				width:80px;
			}
		}
		.define-age{
			height:36px;
			span{
				&.min-age,&.max-age{
					width:42px;
					border: 1px solid #c5c9ce;
					border-radius: 2px;
				}
				&.min-age{
					margin-left: 10px;
				}
				&.age-break{
					font-size: 12px;
					line-height: 36px;
					width: 20px;
					text-align: center;
				}
			}
			input{
				font-family: 'Microsoft Yahei',Helvetica,Arial,sans-serif;
				width: 40px;
				height: 34px;
				padding-left: 2px;
				color: #949fab;
				border: 0;
				background-color: transparent;
			}
		}
	}
	.other-condition1{
		padding-left:100px; 
		margin: 5px 0;
		line-height: 36px;
		.salary-want,.updata-time,.eprType{
			height: 36px;
			border: 1px solid $lighter-gray;
			line-height: 36px;
			border-radius: 4px;
			margin-left: 5px;
			width: 148px;
			margin-left: 6px;
			.item-name{
				width:105px;
				padding-left: 10px;
				border-right: 1px solid #c5c9ce;
			}
		}
	}
	.other-condition2{
		padding-left:100px; 
		margin: 5px 0;
		.search-city,.search-region,.search-district{
			height: 36px;
			border: 1px solid $lighter-gray;
			line-height: 36px;
			border-radius: 4px;
			margin-left: 5px;
			width: 148px;
			margin-left: 6px;
			.item-name{
				width:105px;
				padding-left: 10px;
				border-right: 1px solid #c5c9ce;
			}
		}
		
		.search-input{
			border: 1px solid $lighter-gray;
			width: 220px;
			margin-left: 20px;
		}

	}
	.recent-search{
		height: 16px;
		color: $lighter-gray;
		margin-bottom: 5px;
	}
	.search-button{
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #f6f8fa;
		border-radius: 5px;
		.search-btn,.clear-btn,.save-btn{
			@include button(85px,35px,$fs-middle,6px);
			border: 1px solid $light-blue;
			margin-right: 10px;
		}
		.search-btn{
			@extend %button-class1;
			letter-spacing: 3px;
		}
		.clear-btn,.save-btn{
			color: $light-blue;
			background-color: #fff;
			&:hover{
				border:1px solid #548cd4;
			}
			background-color: #e6eff9;
		}
		.save-btn{
			width: 112px;
		}
	}
	.pull-down-detail{
		font-size: $fs-small;
		li{
			cursor: pointer;
		}

	}
	.selType-city{
		width: 375px;
		background: #fff;
    	border: 1px solid $lighter-gray;
    	position: absolute;
    	top:218px;
    	left:106px;
    	padding-top: 5px;
    	z-index: 1;
    	li a:hover{
			background-color: #acc;			
    	}
    	.tabnav{
    		color: $light-blue;
    		margin: 8px 10px 0;
    		border-bottom: 1px solid #ddd;
    		li{
    			height: 20px;
    			padding:0 5px;
    			line-height: 20px; 
    			text-align: center;
    			color: #25d;
    			margin-right: 6px;
    			float:left;
    		}
    		.tnon{
    			background-color: #EDEDED;
    			color: #404040;
    		}
    	}
    	.tabcon{
    		.hotcity{
    			padding: 5px 10px 0;
    			li{
    				float: left;
    				padding-left: 5px;
					height: 23px;
					line-height: 23px;
					width: 63px;
    			}
    		}

    	}
    	.cityCon{
    		.wordindex{
    			padding: 5px 0 0 12px;
				overflow: hidden;
				zoom:1;  			
    			dt{
					float: left;
					width: 22px;
					line-height: 24px;
					border: 0;
					margin: 0;
					color: #F60;
    			}
    			dd{
					float: left;
					width: 324px;
					ul{
						overflow: hidden;
						zoom:1;
					}
					li{
						float: left;
						width: 58px;
						height: 24px;
						line-height: 24px;
						text-align: center;
						padding: 0px 3px;

					}
				}
    		}
    	}
    }
    .selType-area,.selType-busCircle{
    	width: 350px;
		background: #fff;
    	border: 1px solid $lighter-gray;
    	position: absolute;
    	top:218px;
    	padding-top: 5px;
    	z-index: 1;
    	li a:hover{
			background-color: #acc;			
    	}
    	ul {
    		overflow: hidden;
    		zoom: 1;
   			padding: 10px;
   			li{
				float: left;
				display: inline;
				width: 62px;
				overflow: hidden;
				zoom: 1;
				a{
					line-height: 24px;
					display: block;
					padding: 0 3px;
					white-space: nowrap;
					outline: 0;
				}
   			}
    	}
    }
    .selType-area{
    	left:262px;
    }
    .selType-busCircle{
		left:418px;
    }
    .selType-jobcate{
		width: 836px;
		position: absolute;
		top: 124px;
		left: 105px;
		background: #fff;
		border: 1px solid #979797;
		z-index: 1;
		h3{
			height: 43px;
			line-height: 43px;
			padding-left: 7px;
			background: #f6f6f6;
			border-bottom: 1px solid #c8c8c8;
			color: #000;
			font-size: 14px;
			position: relative;
			.all-job-type{
				border: 1px solid #FBC392;
				display: block;
				height: 22px;
				text-align: center;
				line-height: 22px;
				color: #FF7D3C;
				padding: 0 15px;
				position: absolute;
				top: 10px;
				left: 100px;
				background: url(http://pic2.58.com/ui7/job/hire/search-all-bg.png?v0) repeat-x 0 -27px;
			}
			.close{
				width: 20px;
				height: 20px;
				position: absolute;
				top: 12px;
				right: 10px;
				background: url(http://pic2.58.com/ui6/top_box_close.gif?v0) no-repeat 0 0;
				}
			}
		tbody{
			tr,td,th{
				border-bottom: 1px solid #e9e9e9;
			}
			th,td{
				height: auto;
				line-height: 24px;
				vertical-align: top;
			}
			th{
				color: #585858;
				font-weight: 700;
				width: 140px;
				padding: 6px 17px 6px 0;
				text-align: right;
				background: #fafafa;
				border-right: 1px solid #e9e9e9;
			}
			td{
				 padding: 5px 0;
			}
			.jobcatelist{
				.hover-color{
					color: #f77d40;
				}
				li{
					float: left;
					height: 24px;
					margin-left: 5px;
					white-space: nowrap;
					width: auto;
					overflow: visible;
					position: relative;
					&.sel-color p a{
						color: #f77d40;
					}
					p{
						width: 152px;
						padding: 2px;
						overflow: hidden;
						zoom:1;
					}
					span{
						height: 24px;
						line-height: 24px;
						float: left;
						padding: 0 15px 0 10px;
						text-align: left;
						background: url(http://pic2.58.com/ui7/job/hire/hl_icon.png) right -37px no-repeat;
						color: #25D;
						cursor: pointer;
					}
					// &.selected{
					// 	p{   
					// 		position: relative;
					// 		border: 2px solid #FABD86;
					// 		border-bottom: none;
					// 		width: 170px;
					// 		padding: 3px 0 1px 3px;
					// 		background: #FFFCF8;
					// 		overflow: hidden;
					// 		zoom: 1;
					// 		margin-top: -3px;
					// 		z-index: 2;
					// 		a{
					// 			color: #f77d40;
					// 		}
					// 	}
					// }
				}
				a{
					display: inline;
					padding: 0;
					white-space: normal;
					color: #585858;
					line-height: 24px;
				}
				.subcate{
					position: absolute;
					top: 25px;
					left: 0;
					width: 468px;
					background-color: #FFFCF8;
					border: 2px solid #FABD86;
					padding: 7px 0 7px 30px;
					zoom: 1;
					z-index: 1;
					a{
						width: 150px;
						height: 28px;
						float: left;
						line-height: 28px;
						white-space: nowrap;
						&.sel-color{
							color: #f77d40;
						}
					}
				}

			}
		}
	}
	.selType{
		@extend %selType;
	}
	.selType-postname{
		width:435px;
		top:58px;
		left:105px;
		max-height: 280px;
    	overflow-y:scroll;
	}
	.selType-sex{
		width:100px;
		top:124px;
		left:354px;
	}
	.selType-education{
		width:123px;
		top:124px;
		left:462px;
	}
	.selType-experience{
		width:148px;
		top:175px;
		left:418px;
	}
	.selType-age{
		width:100px;
		top:124px;
		right:207px;
	}
	.selType-wantsalary{
		width:148px;
		top:175px;
		left:106px;
	}
	.selType-updatetime{
		width:148px;
		top:175px;
		left:262px;
	}

}
#accutate-key{
	width: 209px;
	height: 34px;
	padding-left:10px;
	border:0;
	background-color:transparent;
	color: $light-gray;
	font-family: 'Microsoft Yahei',Helvetica,Arial,sans-serif;
}
.hint-red{
	color: $hint-red;
}