<script type="text/html">
  <div class="vip-tooltip">
    <div class="tooltip-content">
      <dl>
        <dt class="text-green">剩余：</dt>
        <dd>+<%= remain.package %><span class="text-gray">(套餐)</span>+<%= remain.gift %><span class="text-gray">(赠送)</span>+<%= remain.purchase %><span class="text-gray">(单买)</span></dd>
      </dl>
      <dl>
        <dt class="text-red">已用：</dt>
        <dd>+<%= used.package %><span class="text-gray">(套餐)</span>+<%= used.gift %><span class="text-gray">(赠送)</span>+<%= used.purchase %><span class="text-gray">(单买)</span></dd>
      </dl>
    </div>
  </div>
</script>
