@mixin BreadcrumbNavigation($width,$height){
	border-radius: 5px;
	background-color: #fff;
	.nav-item{
		font-size: 14px;
		line-height: $height;
		display: inline-block;
		width: $width;
		height: $height;
		text-align: center;
		color: #585858;
		margin-top: -2px;
		&:hover,&.select{
			background-color:#5d9cec;
			color: #fff;
			border-top:2px solid #417fd0;
		}
	}
}
.breadcrumbNav-wrap{
	padding-bottom: 20px;
	.nav-title{
		font-size: 12px;
		color: #949fab;
		padding: 16px 0;
		letter-spacing: 2px;
		.cat-class2{
			color:#6d747d;
		}
	}
	ul{
		 @include BreadcrumbNavigation(100px,50px);
		 border-top: 2px solid #e3e4e8;
	}
}
