body{
  font-family:'Microsoft Yahei',Helvetica,Arial,sans-serif;
  background-color: #f0f2f5;
}
a {
  text-decoration: none;
  outline: none; /* for Forefox */
}

.container {
  width: 980px;
  margin: 0 auto;
}

.clearfix {
  overflow: hidden;
}

.w38 {
  width: 38px !important;
}

.w84 {
  width: 84px !important;
}

.w110 {
  width: 110px !important;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.has-pop {
  z-index: 9!important;
}

