/*
* 参数说明：
* @ $width，$height:showBox弹出框的宽度和高度
* @ $titleBg：showBox弹出框的标题背景颜色
* @ $conBg：showBox弹出框的内容背景颜色
* @ $titleColor:showBox弹出框的标题字体颜色
* @ $fontColor:showBox弹出框的字体颜色
* @ $borColor：showBox弹出框的边框颜色
* @ $borRadius：showBox弹出框边框圆角度
*/
@mixin showBox($width,$height,$top,$left,$titleBg,$titleColor,$conBg,$fontColor,$borColor,$borRadius){
  width: 100%;
  height: 100%;
  .showBoxMask{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9990;
    background: #111111;
    opacity: 0.3;
  }
  .showBox{
    width: $width;
    height: $height;
    position: fixed;
    top:$top;
    left:$left;
    background: #fff;
    border: 1px solid $borColor;
    border-radius: $borRadius;
    z-index: 9999;
  }
  .showBoxTitle{
    width:100%;
    height: 45px;
    line-height: 45px;
    text-indent: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color:$titleColor;
    background: $titleBg;
    border-bottom: 1px solid $posBorderColor;
    i{
      width:40px;
      height: 40px;
      position: absolute;
      top:0;
      right: 0;
    }
    i.spriteIcon{
      background: url('http://img.58cdn.com.cn/ui7/job/vip/vip_position_icon.png?v=1') no-repeat top left;
      width: 16px;
      height: 16px;
    }
    i.showBoxCloseBtn{
      background-position: 0 -31px;
      width: 11px;
      height: 11px;
      position: absolute;
      top:15px;
      right: 15px;
    }
  }
  .showBoxCon{
    width: 100%;
    height: 100%;
  }
}
