$headerBgColor: #2b5ea2;

$navColor: #fff;
$navHoverColor: #2b5ea2;
$navBgColor: #5d9cec;
$navActiveBgColor: #417fd0;

$mainBgColor: #f0f2f5;

$sectionBorderColor: #e3e4e8;
$sectionBgColor: #fff;
$sectionTitleColor: #5d9cec;
$sectionTitleBorderColor: #e7eaec;

$footerColor: #949fab;
$footerBgColor: #434a54;
$footerSeparator: #535b65;

/*职位管理页面变量*/
$titleColor:#949fab;//页面内部标题颜色（首页/职位管理/精品职位）
$titleCurColor:#6d747d;//当前页面的标题颜色（精品职位标题的颜色）
$conBg:#fff;//内容背景
$posBorderColor:#E3E4E8;//灰色边框颜色


/*下拉框插件变量*/
$selectWidth:100%;
$selHoverBg:#5d9cec;
$selColor: #2b5ea2;
$selHoverColor:#fff;
$liHeight : 32;

$fontColorRed: #fc6e51;
$fontColorGray: #949fab;
$fontColorDarkGray: #6d747d;
$fontColorBlue: #2b5ea2;
$fontColorLightBlue: #5d9cec;

$buttonLightBlue: #5d9cec;
$buttonRed: #fc6e51;
$buttonGray: #949fab;
