.vip-tooltip {
  position: absolute;
  background: #434A54;
  background: rgba(67, 74, 84, 0.9);
  border-radius: 3px;
  &:after {
    content: '';
    width: 2px;
    height: 0;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #434A54;
    border-bottom: 5px solid rgba(67, 74, 84, 0.9);
    position: absolute;
    top: -10px;
    right: 30px;
  }
}

.vip-tooltip {
  top: 67px;
  right: 1px;
  width: 250px;
  font-size: 12px;
  color: #ffffff;
  padding: 14px 10px 10px 15px;
  z-index: 99;
  dl {
    dt {
      font-size: 14px;
      line-height: 22px;
      height: 22px;
    }
    dd {
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      margin-bottom: 6px;
      letter-spacing: 1px;
    }
  }
}

@media \0screen\,screen\9 {
  .vip-tooltip {
    background: #434A54;

    *zoom: 1;
  }
}
