.vip-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(/images/icons.png) no-repeat;
}

.vip-icon-level1 {
  background-position: 0 0;
}

.vip-icon-wechat {
  background-position: -28px 0;
}

.vip-icon-email {
  background-position: -56px 0;
}

.vip-icon-idcard {
  background-position: -84px 0;
}

.vip-icon-mobile {
  background-position: -112px 0;
}

.vip-icon-wlt {
  background-position: -140px 0;
}

.vip-icon-email {
  background-position: -56px 0;
}
