.vip-subMenu {
  ul {
    height: 48px;
    margin-bottom: 20px;
    background-color: $sectionBgColor;
    border-radius: 8px;
    border-top: 3px solid $sectionBorderColor;
    li {
      float: left;
      background: #fff;
      border-top: 3px solid $sectionBorderColor;
      border-right: 1px solid $sectionBorderColor;
      margin-top: -3px;
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      a {
        display: block;
        height: 48px;
        width: 120px;
        color: $fontColorGray;
        font-weight: bold;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
    }
    .active {
      background: #5d9cec;
      border-top: 3px solid #548cd4;
      a {
        color: #fff;
      }
    }
  }
}
