.vip-section {
  position: relative;
  margin-bottom: 20px;
  background-color: $sectionBgColor;
  border-radius: 8px;
  border-top: 3px solid $sectionBorderColor;
  .section-title {
    height: 44px;
    color: $sectionTitleColor;
    border-bottom: 1px solid $sectionTitleBorderColor;
    h3 {
      font-weight: normal;
      font-size: 16px;
      line-height: 44px;
      margin: 0 0 0 20px;
    }
  }
  .section-padding {
    padding: 16px 30px;
  }
  .section-content {

  }
  .section-table {
    padding: 15px 30px 0;
  }
  .section-footer {
    font-size: 14px;
    overflow: hidden;
    color: $fontColorGray;
    padding: 20px 30px;
    .section-label {
      float: left;
      line-height: 36px;
      height: 36px;
      margin: 0 20px 0 10px;
    }
    .section-more {
      float: right;
      font-size: 12px;
      line-height: 36px;
      height: 36px;
      color: $fontColorGray;
    }
    .section-button {
      float: left;
      margin-right: 10px;
    }
  }
}
