.vip-toolbox {
  position: fixed;
  bottom: 200px;
  right: 100px;
  z-index: 99;
  width: 40px;
  background: #434a54;
  border-radius: 3px;
  overflow: hidden;
  li {
    *font-size: 0;
    a {
      display: block;
      color: #fff;
      line-height: 15px;
      width: 40px;
      height: 40px;
      text-align: center;
      .toolbox-info {
        width: 30px;
        margin: 0 auto;
        padding: 5px 0;
        border-top: 1px solid #757a83;
        p {
          display: none;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
    .toolbox-first {
      .toolbox-info {
        border-top: none;
      }
    }
  }
  .toolbox-hover {
    a {
      background-color: #5d9cec;
      background-image: none;
      .toolbox-info {
        border-top: none;
        p {
          display: block;
        }
      }
    }
  }
  .toolbox-qq,.toolbox-bangbang,.toolbox-toTop,.toolbox-toBottom{
    background: url(http://img.58cdn.com.cn/zpvip/images/toolbox.png?v1) no-repeat;
  }
  .toolbox-qq {
    background-position: 0 0;
  }
  .toolbox-bangbang {
    background-position: 0 -40px;
  }
  .toolbox-toTop {
    background-position: 0 -80px;
  }
  .toolbox-toBottom {
    background-position: 0 -120px;
  }

}
