.vip-breadCrumb {
  h1 {
    height: 40px;
    color: $fontColorGray;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
    a {
      color: $fontColorGray;
    }
    .breadCrumb-current {
      color: $fontColorDarkGray;
    }
  }
}
